@import "./loader";
@import "./dateselect";
@import "./valuesquare";

$flat-dark-blue: #2c3e50;
$flat-light-red: #e74c3c;
$flat-dark-green: #16a085;

$title-bar-background: $flat-dark-blue;

/* Utilities */
.u-unselectable {
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
       -o-user-select: none; 
          user-select: none;
}

.u-fill-parent {
  width: 100%;
  height: 100%;
  flex: 1;
}

.u-left {
  float: left;
  align-self: flex-start;
}

.u-right {
  float: right;
  align-self: flex-end;
}

.foo, .bar {
  display: block;
  background-color: $flat-light-red;
}

.bar {
  background-color: $flat-dark-green;
}

* {
  box-sizing: border-box;
}

html, body, .app {
  border: 0;
  background: ghostwhite;
  color: #444;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-bar {
  left: 0;
  right: 0;
  background: $flat-dark-blue;
  color: #eee;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar__icon {
  margin-right: 1rem;
}

.title-bar a {
  display: block;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  min-width: 10rem;
  text-align: center;
  text-decoration: none;
  color: #eee;
}

.title-bar a:hover {
  background: lighten($flat-dark-blue, 5%);
}

.dashboard {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dashboard__boxes {
  display: flex;
  flex-flow: row wrap;
}

/* Box
 * A box is a component on the dashboard.
 */

$box-height: 30rem;
$box-width: 30rem;

.box,
.box-wide {
  margin: 1rem;
  max-width: 100% !important;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.075);
  border-radius: 2px;
}

.box {
  flex: 1;
  min-width: $box-width;
  height: $box-height;
  display: flex;
  flex-direction: column;
  position: relative;
}


.box-wide {
  padding: 1rem;
  flex-grow: 1;
  height: $box-height;
  width: $box-width * 2;
  position: relative;
}

.text_display_box {
  padding: 1rem;
  font-size: 30px;
}

/* Charts */
.chart {
  width: 100%;
  height: 100%;
}

.box-title {
  position: absolute;
  top: .5em;
  z-index: 100;
  left: 1em;
}

/* status indicator */
.status-indicator {
  position: relative;
  margin-top: 10px;

  .indicator {
    background-color: #c0392b;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    display: inline-block;
    position: absolute;
    top: 48%;
    left: 3rem;
    transform: translateY(-50%);
    &.indicator__enabled {
      background-color: #2ecc71;
    }
  }

  h1 {
    display: inline-block;
    margin: 0 0 0 10rem;
  }
}
